*{
    margin: 0em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0em;
}
body, html{
    min-height: 100vh;
    min-width: 100%;
}
main{
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg') no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    color: hsl(0, 0%, 100%);
    gap: 5em;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 3em;
}
div.logo{
    width: 100%;
    height: 60px;
    background: transparent url('../images/logo.svg') no-repeat;
    background-position: left center;
    background-size: contain;
}
div.illustration-img{
    width: 18em;
    height: 210px;
    background: transparent url('../images/illustration-mockups.svg') no-repeat;
    background-size: cover;
    background-position: center;
}
main > section{
    width: 100%;
    height: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
a.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 2.5em;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color:  hsl(257, 40%, 49%);
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
}
a.btn:hover{
    background-color:hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}
nav{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    height: 5em;
    width: 100%;
}
nav > i.icon{
    width: 2.5em;
    height: 2.5em;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
nav > i.icon:hover{
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}
.attribution { 
    font-size: 11px; text-align: center; 
    position: fixed;
    bottom: 0;
    width: 100%;
}
.attribution a { color: hsl(0, 0%, 100%); }
